.sl-overlay {
    background-color: rgba(46, 47, 66, 08) !important;
}

.sl-navigation {
    color: #fff !important;
}

.sl-counter {
    color: #fff !important;
}

.sl-close {
    color: #fff !important;
}

.sl-prev {
    color: #fff !important;
}

.sl-next {
    color: #fff !important;
}